<!-- this code is written by @biisal tg:biisal-files  -->
<!-- stealing credit doesn't make you developer..so try to give full credit to the developer 😊 u will not loose anything for giving proper credit.  -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BISAL FILES | {{file_name}}</title>
    

</head>
<!-- this code is written by @biisal tg:biisal-files  -->
<!-- stealing credit doesn't make you developer..so try to give full credit to the developer 😊 u will not loose anything for giving proper credit.   -->

<body>
    <br><br>
  
                <video controls>
  <source src="{{file_url}}" style="height:600px;" width="100%" type="video/mp4">
 
 
</video>
               
                <div class="player"></div>
                <div class="file-name">
                    <h3>File name : </h3>  <p id="myDiv">{{file_name}}</p>
                </div>
                   
                <div class="downloadBtn">
                    <button class="magnet" onclick="vlc_player()"><img src="https://i.postimg.cc/15TQ4y7B/vlc.png"
                            alt="">watch in VLC PLAYER</button>
                    <button class="magnet" onclick="mx_player()"><img src="https://i.postimg.cc/sx4Msv4T/mx.png"
                            alt="">watch in MX PLAYER</button>
                    <button class="magnet" onclick="playit_player()"><img src="https://i.postimg.cc/RVGWYJFF/playit.png"
                            alt="">watch in PLAYit
                        PLAYER</button>
                    <button class="magnet" onclick="km_player()"><img src="https://i.postimg.cc/wT9tFQ9Z/km.png"
                            alt="">watch in KM PLAYER</button>
                    <button class="magnet" onclick="s_player()"><img src="https://i.postimg.cc/XYJr6NGg/s.png"
                            alt="">watch in S PLAYER</button>
                    <button class="magnet" onclick="hd_player()"><img src="https://i.postimg.cc/rFT43LNh/hd.png"
                            alt="">watch in HD
                        PLAYER(4K)</button>
                    <button class="magnet" onclick="bisalDownload()"><img style="height: 35px;"
                            src="https://i.postimg.cc/Zncc9YLq/Pngtree-download-icon-3581467.png" alt="">download video
                    </button>
                </div>

            </div>
           
</body>



</html>

<!-- this code is written by @biisal tg:biisal-files  -->
<!-- stealing credit doesn't make you developer..so try to give full credit to the developer 😊 u will not loose anything for giving proper credit.   -->
